.container {
  display: inline-block;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

h4{
font-family: 'Lora', serif;
}

#shortlink{
  display: none;
  font-family: 'Lora', serif;
}
#shortlinkanchor{
  color: aquamarine;
}

h2{

font-family: 'Lora', serif;

}

p{

font-family: 'Lora', serif;
text-align: center;

}

button{

border-radius: 5px;
position: absolute;
width: absolute;
font-family: 'Lora', serif;
font-size: 14px;
color: #a52a2a;

}

img{

padding: 8px;

}

a{

text-decoration: none;
color: #4a4fbc;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 30px 0;
  position: relative;
  text-align: center;
}

div{
    display: block;
    text-align: center;
}

form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.container-right{

position: absolute; 
top: 0px; 
right: 0px;
padding-top: 20px;
padding-right: 10px;

}

input::placeholder{

font-family: 'Lora', serif;
font-size: 14px;

}

/* The side navigation menu */
.sidenav {
  height: 50%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}